@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .loginBtn {
        @apply w-[155px] bg-customPurple text-white py-2 px-4 rounded-[25px] 
               hover:bg-[#8060DB] focus:outline-none focus:ring-2 focus:ring-offset-2 
               focus:ring-indigo-500;
    }

    .login-page {
        @apply flex items-center justify-center min-h-screen bg-white;
    }

    .login-title {
        @apply text-[20px] font-bold text-center mb-6;
    }

    .input-container {
        @apply relative;
    }

    .icon {
        @apply absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400;
    }

    .input-field {
        @apply block w-[345px] pl-10 mt-1 px-3 py-2 border border-gray-300 rounded-[12px] 
               shadow-sm focus:ring-customPurple focus:ring-1 focus:border-customPurple 
               focus:outline-none placeholder:text-placeholderGray placeholder:text-[12px];
    }

    .login-form {
        @apply space-y-4;
    }

    .login-button-container {
        @apply flex justify-center mt-4;
    }

    .header {
        @apply absolute top-0 left-0 right-0 flex justify-between items-center 
               pt-[30px] px-[40px] w-full;
    }

    .header-logo {
        @apply h-5; /* Adjust height if necessary */
    }

    .header-link {
        @apply text-[#A585FF] hover:underline text-[12px];
    }

    /* Notification Card */
    .notificationCard {
        @apply fixed bottom-4 left-1/2 transform -translate-x-1/2 text-left 
               flex items-center justify-start w-[357px] text-[12px] px-4 py-4 rounded-[12px];
      }
    
      .notificationCard-error {
        @apply border border-[#8D0C0C] bg-[#E3D8D8] text-[#6A0202];
      }
    
      .notificationCard-success {
        @apply border border-[#474747] bg-[#F2F2F2] text-[#2E2E2E];
      }
}
