@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .loginBtn {
        @apply w-[155px] bg-customPurple text-white py-2 px-4 rounded-[25px] 
               hover:bg-[#8060DB] focus:outline-none focus:ring-2 focus:ring-offset-2 
               focus:ring-indigo-500;
    }

    .login-page {
        @apply flex items-center justify-center min-h-screen bg-white;
    }

    .login-title {
        @apply text-[20px] font-bold text-center mb-6;
    }

    .input-container {
        @apply relative;
    }

    .icon {
        @apply absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400;
    }

    .input-field {
        @apply block w-[345px] pl-10 mt-1 px-3 py-2 border border-gray-300 rounded-[12px] 
               shadow-sm focus:ring-customPurple focus:ring-1 focus:border-customPurple 
               focus:outline-none placeholder:text-placeholderGray placeholder:text-[12px];
    }

    .login-form {
        @apply space-y-4;
    }

    .login-button-container {
        @apply flex justify-center mt-4;
    }

    .header {
        @apply absolute top-0 left-0 right-0 flex justify-between items-center 
               pt-[30px] px-[40px] w-full;
    }

    .header-logo {
        @apply h-5;
    }

    .header-link {
        @apply text-[#A585FF] hover:underline text-[12px];
    }

    /* Notification Card */
    .notificationCard {
        @apply fixed bottom-4 left-1/2 transform -translate-x-1/2 text-left 
               flex items-center justify-start w-[357px] text-[12px] px-4 py-4 rounded-[12px];
      }
    
      .notificationCard-error {
        @apply border border-[#8D0C0C] bg-[#E3D8D8] text-[#6A0202];
      }
    
      .notificationCard-success {
        @apply border border-[#474747] bg-[#F2F2F2] text-[#2E2E2E];
      }

      /* Homepage/Calendar */
      .homepage-main-content {
        @apply flex flex-col h-screen;
      }
    
      .homepage-top-bar {
        @apply flex items-center justify-between h-[69px] shrink-0; 
      }
    
      .homepage-title {
        @apply text-[20px] font-semibold pl-[32px];
        font-family: 'Inter', sans-serif;
      }
    
      .today-button {
        @apply text-[14px] font-normal rounded-[4px] border border-[#E9EBEF] w-[61px] h-[37px];
        font-family: 'Inter', sans-serif;
      }
    
      .month-label {
        @apply text-[20px] font-normal text-black;
        font-family: 'Inter', sans-serif;
      }
    
      .add-new-event-btn {
        @apply w-auto h-[40px] flex items-center justify-center gap-[10px]
               px-[32px] py-[10px] rounded-[25px] bg-[#A585FF] text-white hover:bg-[#8060DB];
      }
    
      .calendar-container {
        @apply flex-1;
      }

    /* Event Modal */

    .modal-overlay {
        @apply fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50;
    }
    
    .modal-container {
        @apply bg-white rounded-lg w-[800px] shadow-lg relative;
    }
    
    .add-event-title-bar {
        @apply border-b border-[#E5E5E5] h-[50px] px-4 flex items-center justify-between;
    }
    
    .add-event-content-container {
        @apply flex;
    }
    
    .add-event-left-column {
        @apply flex flex-col items-center p-4 gap-6 border-r border-gray-300;
    }
    
    .add-event-right-column {
        @apply flex-1 p-4;
    }
    
    .time-dropdowns {
        @apply mt-4;
    }
    
    .saveBtn {
        @apply w-12 h-12 bg-customPurple text-white rounded-full flex items-center justify-center hover:bg-[#8060DB];
    }

}